venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_STORE

.env

*.idea

*/results/nth_merge_metrics/*/*.json
!*/results/nth_merge_metrics/*/*th_merge_metrics.json
!*/results/nth_merge_metrics/latest
**/results/entity_validation/*.json
**/results/pkg_version/*.json
*/results/backstage_project/*.json
*/results/starter_module_usage/*.json

.vscode/
